<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinalProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <FinalProject.Properties.Settings>
            <setting name="BankInitialVaultAmount" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BankNumberOfCustomers" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BankNumberOfTellers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CustGoalAmount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TransMaxTransAmount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BBankInitialVaultAmount" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="BBankNumberOfCustomers" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="BBankNumberOfTellers" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CCustGoalAmount" serializeAs="String">
                <value>201</value>
            </setting>
            <setting name="TTransMaxTransAmount" serializeAs="String">
                <value>101</value>
            </setting>
        </FinalProject.Properties.Settings>
    </applicationSettings>
    <appSettings>
      <add key="BankInitialVaultAmount" value="1"/>
      <add key="BankNumberOfCustomers" value="1"/>
      <add key="BankNumberOfTellers" value="1"/>
      <add key="CustGoalAmount" value="2000"/>
      <add key="TransMaxTransAmount" value="1"/>
    </appSettings>
</configuration>